{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if messages %}
        
        {% for message in messages %}
            {{message}} <br>
        {% endfor %}
            
    {% endif %}
        
    {%if request.user.is_authenticated%}logged <a href="{% url 'profile'%}">{{request.user}}</a> &nbsp <a href="{%url 'logout'%}">logout</a><br> {%else%} you are not logged in {%endif%}
    <br>
    <br>
    {% block content %}
        
    {% endblock content %}
        
</body>
</html>